<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">Change password.</h4>
    <div class="card-body">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="oldPassword">Old Password</label>
          <input type="password" formControlName="oldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
          <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
            <div *ngIf="f.oldPassword.errors.required">Old password is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
          <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
            <div *ngIf="f.newPassword.errors.required">Password is required</div>
            <div *ngIf="f.newPassword.errors.notEqual">Passwords are not the same.</div>
            <div *ngIf="f.password.errors.minlength">Shuld contain more than 3 chars.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.notEqual">Passwords are not the same.</div>
            <div *ngIf="f.password.errors.minlength">Shuld contain more than 3 chars.</div>
          </div>
        </div>
        <div *ngIf="f.errors?.compareNewPasswords && (f.touched || f.dirty)" class="cross-validation-error-message alert alert-danger">
          Passwords are not the same.
        </div>
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Create
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </div>
</div>